.container {
  margin-top: 5vh;
}

/* #char-slider {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
} */

.sliders {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.form-checkbox {
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vh;
}
